# Conectando no Banco de Dados com Linguaugem Python

Leia o manual em pdf no Capitulo 12 do curso com a descrição completa do que e Linguagem SQL!

In [ ]:
# Conecta no banco de dados
con = sqlite3.connect('cap12_dsa.db')

In [ ]:
# Abre um cursos para percorrer os dados no banco de dados
cursor = con.cursor()

In [ ]:
# Query SQL para extrair os nomes das colunas no banco de dados
sql_query = """SELECT name FROM sqlite_master WHERE type = 'table'; """

In [ ]:
# Executar a query
cursor.execute(sql_query)

In [ ]:
# Visualizar o resultado
print(cursor.fetchall())

A query retorna todas as linhas e todas as colunas da  tabela.

In [ ]:
# Criar uma ilustração SQL
query1 = 'SELECT * FROM tb_vendas_dsa'

In [ ]:
# Executar a query no banco de dados
cursor.execute(querly1)

In [ ]:
# List comprehension para visualizar os nomes das colunas
nomes_colunas = [description[0] for description in cursor.description]

In [ ]:
# Visualizar o resultado
print(nomes_colunas)

In [ ]:
# Retorna os dados  da execução da query
dados = cursor.fetchall()

In [ ]:
# Visualiza os dados
dados